<!DOCTYPE html>

<html>

    <head>
        <title>User Registration</title>
        <link rel="stylesheet" href="/css/app.css" />
    </head>

    <body>
        <div id="loginContainer">
            <center>
                <img src="/images/download.png" height="80px" />
            </center>

            <h3>Register</h3>

            <form action="/register" method="POST">

                <div id="align">

                  
                    <input  type="text" name="email" placeholder="email"  required/>

                    <input  type="password" name="password" placeholder="password"  required/>

                    <input  type="password" name="confirmPassword" placeholder="confirm password" required/>

                </div>

                <button type="submit" style="margin-top:20px;">Register</button>

            </form>

            <div id="spacer" style="color:#fff;">
                <li>By registering, you agree to the <a href="#">Terms & Conditions</a></li>
            </div>
        </div>
    </body>
</html>